extends layout

block content
  div.content.clearfix
    div.balloon
      h1= title
      p My name is #{hostname}.
    p.robo: img(src="/images/magellan_robo.png", alt="MAGELLAN Robot", width="300", height="340")
